body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #aaa;
}

button {
  font-size: 180px;
  padding: 100px 200px;
  margin: 100px;
  cursor: pointer;
}

.shop {
  margin-top: 30px;
}
.big-button {
  font-size: 32px;
  padding: 30px 60px;
  background-color: #ffe4b5;
  border-radius: 15px;
  border: 2px solid #d2691e;
  transition: transform 0.1s ease;
}

